RewriteEngine On

# Ignore anything with /api in the URI, allowing it to be handled by the /api/.htaccess
RewriteCond %{REQUEST_URI} ^/api/ [NC]
RewriteRule ^ - [L]

# Serve existing files and directories normally
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirect all other requests to Angular's index.html
RewriteRule ^ /index.html [L]
