<canvas #canvas></canvas>
<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<div class="buttons">
    <button (click)="switchTexture()">Switch Texture</button>
    <button (click)="switchRoute()">Switch Route</button>
    <button (click)="newRoute()">New Route</button>
    <button (click)="downloadRoute()">Download Route</button>
    <button (click)="uploadRoute()">Upload Route</button>
    <button (click)="displayStats()">Display Stats</button>

    <form [formGroup]="form">
        <label for="tempPsw">Temp PSW:</label>
        <input id="tempPsw" type="text" formControlName="tempPsw" />
    </form>

    <div class="hold-color-options">
        <label for="holdColorSelect">Hold Color:</label>
        <select id="holdColorSelect" (change)="onHoldColorChange($event.target)">
            @for (option of holdColorOptions; track option.type) {
                <option [value]="option.type" [selected]="option.color.equals(highlightColor)">{{ enumName(option.type) }}</option>
            }
        </select>
    </div>
</div>