@use 'variables' as *;

input, select, textarea {
  all: unset;
  color: $fontColor;
  border-bottom: 1px solid $lightDark;
  width: calc(100% - 10px);
}

select {
  background-color: $dark;
}

input, select {
  padding: 4px 5px;
}

input[type="radio"] {
  border: none;
  padding: 0;
  cursor: pointer;
}

.form-group {
  padding-top: 20px;
  position: relative;
  margin-bottom: 20px;
}

.form-radio {
  height: 28px;
}

.form-radio input:focus {
  background-color: color-mix(in srgb, $dark 100%, $primary 100%);
}

.radio-option:has(.selected) {
  background-color: color-mix(in srgb, $dark 100%, $primary 50%);
}

.radio-option:hover, .radio-option:focus {
  background-color: color-mix(in srgb, $dark 100%, $primary 100%);
}

.radio-option:active {
  background-color: $primary;
}

.group-label {
  position: absolute;
  top: 23px;
  left: 5px;
  transition: 0.25s cubic-bezier(0, 0, 0.1, 1.0);
  color: $gray;
  pointer-events: none;
}

.form-label {
  position: relative;
  padding: 1px;
  top: 16px;
  left: 1px;
  color: $gray;
  font-size: 11px;
}

.radio-label {
  pointer-events: none;
  position: relative;
  top: -25px;
}

.radio-option {
  display: inline-block;
  min-width: 70px;
  height: 26px;
  text-align: center;
  border-top: 1px solid $lightDark;
  border-bottom: 1px solid $lightDark;
  cursor: pointer;
}

.radio-option:first-child {
  border-left: 1px solid $lightDark;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.radio-option:last-child {
  border-right: 1px solid $lightDark;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.radio-option input {
  width: 100%;
  height: 100%;
}

input:not(:placeholder-shown) + .group-label,
input:focus + .group-label,
select:not(:placeholder-shown) + .group-label,
select:focus + .group-label {
  top: 1px;
  font-size: 11px;
  pointer-events: initial;
  left: 0px;
}

input.ng-invalid.ng-touched + .group-label,
select.ng-invalid.ng-touched + .group-label {
  color: $danger;
}

input:focus + .group-label,
select:focus + .group-label {
  color: $primary;
}

input.ng-invalid.ng-touched {
  border-bottom: 1px solid $danger;
}

.form-action {
  text-align: right;
}

.form-action .button {
  text-align: center;
  min-width: 70px;
}

.button.primary {
  background-color: color-mix(in srgb, $dark 0%, $primary 100%);
}

.button.secondary {
  background-color: color-mix(in srgb, $dark 0%, $secondary 100%);
}

.button.success {
  background-color: color-mix(in srgb, $dark 0%, $success 100%);
}

.button.warning {
  background-color: color-mix(in srgb, $dark 0%, $warning 100%);
}

.button.danger {
  background-color: color-mix(in srgb, $dark 0%, $danger 100%);
}

.button.disabled {
  background-color: $gray;
  cursor: default;
}

input.disabled {
  background-color: $gray;
  cursor: default;
}

.button.disabled:hover {
  background-color: $gray;
}

input.disabled:hover {
  background-color: $gray;
}

// .form-group.disabled .group-label {
//   color: $lightDark;
// }

input:disabled, select:disabled {
  color: $gray;
}

input:disabled, select:disabled {
  // background-color: $black;
  background: repeating-linear-gradient(
    -55deg,
    $dark,
    $dark 5px,
    $lightDark 5px,
    $lightDark 10px
  );
}