// Color Variables
$primary: #2087d6;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #cccccc;
$dark: #1f1f1f;
$black: #0a0a0a;

$fontColor: $light;
$backgroundColor: $dark;