<div class="grid">
  <!-- boulder render  -->
  <section class="imageContainer">
    @if (currentRawModel !== undefined) {
      <app-daone-render-test
        class="render"
        [testInput]="testbool"
        [rawModel]="currentRawModel">
      </app-daone-render-test>
    }

    <img class="image" [src]="image" [ngClass]="{ fadeOut: currentRawModel !== undefined }" alt="photo of the boulder">

  </section>

  <!-- legend -->
  <section class="boulderLegend">
      <ol>
          <li>Boulder 1</li>
          <li>Boulder 2</li>
          <li>Boulder 3</li>
      </ol>
  </section>
</div>
