<canvas #canvas></canvas>
<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<div class="buttons">
    <button (click)="switchTexture()">Switch Texture</button>
    <button (click)="switchRoute()">Switch Route</button>
    <button (click)="newRoute()">New Route</button>
    <button (click)="downloadRoute()">Download Route</button>

    <div class="hold-color-options">
        <label for="holdColorSelect">Hold Color:</label>
        <select id="holdColorSelect" (change)="onHoldColorChange($event.target)">
            <option *ngFor="let option of holdColorOptions" [value]="option.name" [selected]="option.color.equals(highlightColor)">{{ option.name }}</option>
        </select>
    </div>
</div>