@use '../../../styles/variables' as *;
@use 'svg-assets/all' as *;

:host {
  display: inline-block;
}

/* extract to separate files to not exceed maximum anyComponentStyle */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  // color: $info;
  background-color: $secondary;
  vertical-align: middle;
  vertical-align: -0.1em;
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$question-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$question-svg}");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.big-icon {
  width: 2em;
  height: 2em;
}

.loading {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$loading-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$loading-svg}");
  animation: rotate 1s linear infinite;
}

.filter-asc {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$filter-asc-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$filter-asc-svg}");
}

.filter-desc {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$filter-desc-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$filter-desc-svg}");
}

.filter {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$filter-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$filter-svg}");
}

.tag-empty {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$tag-empty-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$tag-empty-svg}");
}

.tag-filled {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$tag-filled-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$tag-filled-svg}");
  background-color: $success;
}

.sent-filled {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$sent-filled-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$sent-filled-svg}");
  background-color: $success;
}

.sent-empty {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$sent-empty-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$sent-empty-svg}");
}

.eye-empty {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$eye-empty-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$eye-empty-svg}");
}

.eye-filled {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$eye-filled-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$eye-filled-svg}");
}

.expand-empty {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$expand-empty-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$expand-empty-svg}");
}

.expand-filled {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$expand-filled-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$expand-filled-svg}");
  background-color: $primary;
}

.asterisk {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$asterisk-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$asterisk-svg}");
}

.projector-empty {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$projector-empty-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$projector-empty-svg}");
}

.projector-filled {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$projector-filled-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$projector-filled-svg}");
}

.paperclip-empty {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$paperclip-empty-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$paperclip-empty-svg}");
}

.paperclip-filled {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$paperclip-filled-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$paperclip-filled-svg}");
}

.expand-alt-empty {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$expand-alt-empty-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$expand-alt-empty-svg}");
}

.expand-alt-filled {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$expand-alt-filled-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$expand-alt-filled-svg}");
  background-color: $success;
}

.check-square {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$check-square-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$check-square-svg}");
}

.times-square {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$times-square-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$times-square-svg}");
}

.star-empty {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$star-empty-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$star-empty-svg}");
}

.star-filled {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$star-filled-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$star-filled-svg}");
  // background-color: $warning;
}

.circuit-empty {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$circuit-empty-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$circuit-empty-svg}");
}

.circuit-filled {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$circuit-filled-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$circuit-filled-svg}");
  background-color: $warning;
}

.no-match-empty {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$no-match-empty-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$no-match-empty-svg}");
}

.no-match-filled {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$no-match-filled-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$no-match-filled-svg}");
  background-color: $warning;
}

.free-feet-empty {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$free-feet-empty-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$free-feet-empty-svg}");
}

.free-feet-filled {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$free-feet-filled-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$free-feet-filled-svg}");
  background-color: $warning;
}

.focus {
  background-color: $primary;
}