@use '../../../styles/variables' as *;
@use 'svg-assets/all' as *;

:host {
  display: inline-block;
}

/* extract to separate files to not exceed maximum anyComponentStyle */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  // color: $info;
  background-color: $secondary;
  vertical-align: middle;
  vertical-align: -0.1em;
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$question-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$question-svg}");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.big-icon {
  width: 2em;
  height: 2em;
}

.loading {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$loading-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$loading-svg}");
  animation: rotate 1s linear infinite;
}

.filter-asc {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$filter-asc-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$filter-asc-svg}");
}

.filter-desc {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$filter-desc-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$filter-desc-svg}");
}

.filter {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$filter-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$filter-svg}");
}

.tag-empty {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$tag-empty-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$tag-empty-svg}");
}

.tag-filled {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$tag-filled-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$tag-filled-svg}");
  background-color: $success;
}

.sent-filled {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$sent-filled-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$sent-filled-svg}");
  background-color: $success;
}

.sent-empty {
  -webkit-mask-image: url("data:image/svg+xml;utf8,#{$sent-empty-svg}");
  mask-image: url("data:image/svg+xml;utf8,#{$sent-empty-svg}");
}

