<div class="grid">
  <section class="imageContainer">
    @if (currentRawModel !== undefined) {
      <app-boulder-render
        class="render"
        [lines]="currentLines"
        [rawModel]="currentRawModel">
      </app-boulder-render>
    }

    <img class="image" [src]="'./images/giphy.webp'" [ngClass]="{ fadeOut: currentRawModel !== undefined }" alt="photo of the boulder">
  </section>

  <section class="boulderLegend">
    <app-boulder-legend
      [title]="bloc.name"
      [lines]="currentLines">
    </app-boulder-legend>
  </section>
</div>
