@use '../../../styles/variables' as *;

:host {
  display: block;
}

.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1200;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  // font-size: 11px;
}