nav {
  // position: absolute;
  height: 60px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  margin-right: 10px;
}

.content {
  height: calc(100vh - 60px);
}