@use '../styles/variables' as *;

nav {
  background-color: rgba($light, 0.05);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 60px;
  background-color: #333333;
  display: flex;
}

ul li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a.active {
  background-color: rgba($secondary, 1.0);
}

.content {
  height: calc(100vh - 60px);
}

ul li a:hover, ul li a:focus {
  background-color: rgba($primary, 0.5);
}

ul li a:active {
  background-color: rgba($primary, 1.0);
}

.li-item:nth-child(even) {
  background-color: rgba($light, 0.05);
}