@use '../styles/variables' as *;

nav {
  background-color: rgba($light, 0.05);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: $lightDark;
  display: flex;
  align-items: center;
}

a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

a.active {
  background-color: color-mix(in srgb, $dark 100%, $primary 50%);
}

.content {
  height: calc(100vh - 60px);
}

a:hover, a:focus, .button:hover, .button:focus {
  background-color: color-mix(in srgb, $dark 100%, $primary 100%);
}

a:active:active, .button:active, .button:active {
  background-color: $primary;
}

.button {
  padding: 14px 16px;
}

// li:nth-child(even) {
//   background-color: color-mix(in srgb, $lightDark 100%, $light 5%);
// }