<nav>
  <ul>
    <li><a [routerLink]="['home']" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
    @for (navigationItem of outdoorNavigationItems(); track navigationItem.routerLink.join('/')) {
      <li>
        <a
          #rlaMap="routerLinkActive"
          [routerLink]="navigationItem.routerLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ariaCurrentWhenActive="page">
          {{ navigationItem.label }}
          @if (navigationItem.isArea) {
            <app-icon [icon]="rlaMap.isActive ? 'map-filled' : 'map-empty'" [isFocused]="true"></app-icon>
          } @else if (navigationItem.isSector) {
            <app-icon [icon]="rlaMap.isActive ? 'map-marked-filled' : 'map-marked-empty'" [isFocused]="true"></app-icon>
          }
        </a>
      </li>
    }
    <li class="nav-right">
      <a
        #rlaChangelog="routerLinkActive"
        [routerLink]="['changelog']"
        routerLinkActive="active"
        ariaCurrentWhenActive="page">
        <app-icon
          [icon]="rlaChangelog.isActive ? 'change-log-filled' : 'change-log-empty'"
          [isFocused]="true"></app-icon>
        Changelog
      </a>
    </li>
    @if (authSessionStateService.isLoggedIn()) {
      <li>
        <button class="button" (click)="logout()">
          <app-icon icon="sign-out-empty" [isFocused]="true"></app-icon>
          Logout
        </button>
      </li>
    } @else {
      <li>
        <button class="button" (click)="openLoginModal()">
          <app-icon icon="sign-in-empty" [isFocused]="true"></app-icon>
          Login
        </button>
      </li>
    }
  </ul>
</nav>

<div class="content">
  <router-outlet />
</div>

<app-toast-container></app-toast-container>

<app-modal #modal [isSmall]="true" (closed)="changeDetectorRef.markForCheck()"> </app-modal>
