@use '../../../../styles/variables' as *;

:host {
  display: block;
}

h4 {
  margin-top: 5px;
}

.toast {
  position: relative;
  border-radius: 5px;
  border: 1px solid;
  background-color: $dark;
  border-color: color-mix(in srgb, $dark 50%, $light 50%);
}

.fadeout {
  animation: fadeOut 0.5s linear;
}

.fadeout:hover, .fadeout:focus {
  animation: none;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.toast-taskbar {
  width: 100%;
  height: 1.5em;
  border-bottom: 1px solid;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: flex;
  justify-content: flex-end;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 60%, color-mix(in srgb, $dark 50%, $light 50%) 80%) 1;
}

.danger .toast-taskbar {
  background: repeating-linear-gradient(
    -55deg,
    color-mix(in srgb, $dark 100%, $danger 10%),
    color-mix(in srgb, $dark 100%, $danger 10%) 5px,
    $dark 5px,
    $dark 10px
  );
}

.success .toast-taskbar {
  background: repeating-linear-gradient(
    -55deg,
    color-mix(in srgb, $dark 100%, $success 10%),
    color-mix(in srgb, $dark 100%, $success 10%) 5px,
    $dark 5px,
    $dark 10px
  );
}

.warning .toast-taskbar {
  background: repeating-linear-gradient(
    -55deg,
    color-mix(in srgb, $dark 100%, $warning 10%),
    color-mix(in srgb, $dark 100%, $warning 10%) 5px,
    $dark 5px,
    $dark 10px
  );
}

.toast-body {
  padding: 0px 15px 15px 15px;
}

.close-button {
  height: 100%;
  width: 2em;
  text-align: center;
  padding: 0px;
  border-top-right-radius: 4px;
}

.close-button:hover, .close-button:focus {
  background-color: color-mix(in srgb, $dark 100%, $danger 100%);
}

.close-button:active {
  background-color: color-mix(in srgb, $dark 0%, $danger 100%);
}

.success {
  border-color: $success;
}

.danger {
  border-color: color-mix(in srgb, $dark 50%, $danger 50%);
}

.warning {
  border-color: color-mix(in srgb, $dark 50%, $warning 50%);
}

.success .toast-taskbar {
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 60%, $success 80%) 1;
}

.danger .toast-taskbar {
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 60%, color-mix(in srgb, $dark 50%, $danger 50%) 80%) 1;
}

.warning .toast-taskbar {
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 60%, color-mix(in srgb, $dark 50%, $warning 50%) 80%) 1;
}

.success h4 {
  color: $success;
}

.warning h4 {
  color: $warning;
}

.danger h4 {
  color: $danger;
}
