@use '../../../styles/variables' as *;

.grid {
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 40%;
  grid-template-areas:
  "boulder boulder"
  "legend legend";
}

.renderContainer {
  grid-area: boulder;
  align-items: stretch;
  justify-content: stretch;
}

.render {
  width: 100%;
  height: 100%;
}

.legend {
  grid-area: legend;
  // background-image: linear-gradient(180deg, $black 0%, $dark 20%);
}

.actions {
  height: 2em;
  width: 100%;
  background-color: rgba($light, 0.05);
  white-space: nowrap;
  overflow-x: auto;
}

.legend-list {
  height: calc(100% - 2em);
  width: 100%;
  overflow-y: auto;
  padding: 0px 15px 15px 15px; 
}

.action-button {
  // cursor: pointer;
  display: inline-block;
  height: calc(100% - 6px);
  border: none;
  // background-color: $secondary;
}

.action-button:hover, .action-button:focus {
  background-color: rgba($primary, 0.5);
}

.action-button:active {
  background-color: rgba($primary, 1.0);
}

.li-item:nth-child(even) {
  background-color: rgba($light, 0.05);
}