@use '../../../../styles/variables' as *;

:host {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: color-mix(in srgb, $black, transparent 50%);
  justify-content: center;
  align-items: center;
}

.isVisible {
  display: flex;
}

.modal-content {
  overflow: hidden;
  background-color: $backgroundColor;
  width: max(50%, 500px);
  min-width: 300px;
  max-width: 800px;
  // height: max(50%, 500px);
  // max-height: 800px;
  border: 1px solid $lightDark;
  border-radius: 5px;
}

.asking-for-permission {
  display: block;
  position: absolute;
  // background-color: green;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-modal {
  width: max(30%, 200px);
  min-width: 300px;
  max-width: 400px;
}

@media (max-width: 600px) {
  .modal-content {
    width: 100%;
    max-width: unset;
  }

  .small-modal {
    width: 100%;
    max-width: unset;
  }
}

.modal-taskbar {
  width: 100%;
  height: 1.5em;
  border-bottom: 1px solid $lightDark;
  display: flex;
  justify-content: flex-end;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 60%, $lightDark 80%) 1;
}

.modal-body {
  padding: 0px 15px 15px 15px;
}

.close-button {
  height: 100%;
  width: 2em;
  text-align: center;
  padding: 0px;
}

.close-button:hover, .close-button:focus {
  background-color: color-mix(in srgb, $dark 100%, $danger 100%);
}

.close-button:active {
  background-color: color-mix(in srgb, $dark 0%, $danger 100%);
}

.permission-modal {
  max-width: unset;
  width: max(30%, 200px);
  min-width: 300px;
  max-width: 400px;
  background-color: $dark;
  border: 1px solid $primary;
  border-radius: 5px;
  text-align: center;
}

.permission-action {
  text-align: center;
  margin: 20px 0px;
}

.permission-action .button {
  margin: 0px 10px;
}

@media (max-width: 600px) {
  .permission-modal {
    width: 100%;
    max-width: unset;
  }
}