@use '../../../../styles/variables' as *;

:host {
  display: block;
}

.item {
  cursor: pointer;
  width: calc(100% - 12px);
  padding: 4px 6px;
}

.item.selected {
  background-color: rgba($darkDark, 1.0);
}

.item:hover, .item:focus {
  background-color: rgba($primary, 0.5);
}

.item:active {
  background-color: rgba($darkDark, 1.0);
}

.identifier {
  color: $primary;
  margin-right: 10px;
}

.fontGrade {
  color: $primary;
  margin-left: 10px;
}

.item-row {
  margin-bottom: 5px;
}

.item-cell {
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden-on-mobile {
  color: $secondary;
}

.show-on-mobile {
  display: none;
}

.item.selected>.item-cell {
  text-overflow: unset;
  white-space: normal;
}

.item.selected>.hidden-on-mobile {
  color: $blueGray;
  text-shadow: $black 1px 1px 5px;
}

.item.selected>.name {
  color: $info;
}

@media (max-width: 600px) {
  .hidden-on-mobile {
    display: none;
  }

  .show-on-mobile {
    display: unset;
  }

  .item.selected > .description.hidden-on-mobile {
    display: unset;
  }
}