<div class="grid">
  <section class="renderContainer">
    @if (currentRawModel()) {
    <!-- @if (authSessionStateService.isLoggedIn() && selectedProblem) {
        <app-problem-log-overlay [spraywallProblemId]="selectedProblem.id" [boulderLog]="boulderLog()">
        </app-problem-log-overlay>
      } -->
    <!-- <app-problem-rules-overlay [boulderProblem]="selectedProblem"> </app-problem-rules-overlay> -->
    <app-camera-controls> </app-camera-controls>
    <app-outdoor-renderer
      class="render"
      [rawModel]="currentRawModel()"
      [lines]="enhancedLines()"
      [selectedLine]="selectedLine()"
      (selected)="onSelectedLine($event)"></app-outdoor-renderer>
    } @else {
    <app-loading-image class="render"> </app-loading-image>
    }
  </section>
  <section class="legend">
    <div class="actions">
      <button class="button action-button action-end" [routerLink]="['/', 'boulder-editor', bloc.id]">
        Create new route
      </button>
    </div>
    <div class="legend-list">
      <div #scrollList class="list-content">
        <ul>
          @for (line of lines(); track line.id) {
          <app-bloc-line-item
            class="li-item"
            [line]="line"
            [isSelected]="selectedLine()?.id === line.id"
            (selected)="onSelectedLine($event)"></app-bloc-line-item>
          }
        </ul>
      </div>
    </div>
  </section>
</div>
