<div class="grid">
  <section class="renderContainer">
    @if (currentRawModel) {
        <app-boulder-render
            class="render"
            [rawModel]="currentRawModel"
            [boulderProblem]="selectedProblem">
        </app-boulder-render>
    } @else {
        <app-loading-image
            class="render">
        </app-loading-image>
    }
  </section>
  <section class="legend">
    <div class="actions">
        <button class="button action-button" (click)="onResetSelection()">Reset</button>
    </div>
    <div class="legend-list">
        @for (problem of listOfProblems; track problem.id) {
            <app-spraywall-legend-item
                class="li-item"
                [problem]="problem"
                [isSelected]="selectedProblem?.id === problem.id"
                (selected)="onSelectedProblem($event)">
            </app-spraywall-legend-item>
        }
    </div>
  </section>
</div>