@use '../../../styles/variables' as *;

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 40%;
  grid-template-areas:
  "boulder boulder"
  "legend legend";
}

.renderContainer {
  grid-area: boulder;
  align-items: stretch;
  justify-content: stretch;
}

.render {
  width: 100%;
  height: 100%;
}

.legend {
  grid-area: legend;
  // background-image: linear-gradient(180deg, $black 0%, $dark 20%);
}

.actions {
  height: 2em;
  width: 100%;
  background-color: rgba($light, 0.05);
  white-space: nowrap;
  overflow-x: auto;
}

.legend-list {
  height: calc(100% - 2em);
  width: 100%;
}

.list-content {
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 2em);
}

.action-button {
  // cursor: pointer;
  display: inline-block;
  height: calc(100% - 6px);
  border: none;
  // background-color: $secondary;
}

.action-end {
  float: right;
}

.action-button:hover, .action-button:focus {
  background-color: rgba($primary, 0.5);
}

.action-button:active {
  background-color: rgba($primary, 1.0);
}

.list-header {
  height: 2em;
  vertical-align: middle;
  border-bottom: 1px solid $lightDark;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.list-header > div {
  padding: 3px 14px;
  // flex-grow: 4;
  // display: inline-block;
}

.flex-name {
  flex-grow: 4;
}

.flex-grade {
  flex-grow: 1;
}

.flex-description {
  flex-grow: 4;
}

.flex-creator {
  flex-grow: 1;
}

.flex-created-date {
  flex-grow: 1;
}


.li-item:nth-child(even) {
  background-color: rgba($light, 0.05);
}