<div class="grid">
  <section class="renderContainer">
    @if (currentRawModel) {
        <app-boulder-render
            class="render"
            [rawModel]="currentRawModel"
            [boulderProblem]="selectedProblem">
        </app-boulder-render>
    } @else {
        <app-loading-image
            class="render">
        </app-loading-image>
    }
  </section>
  <section class="legend">
    <div class="actions">
        <button class="button action-button" (click)="onResetSelection()">Reset</button>
        <button class="button action-button action-end" [routerLink]="['/', 'spraywall-editor', spraywallId]">Create new route</button>
    </div>
    <div class="legend-list">

        <div class="list-header">
            <div class="">name</div>
            <div class="hidden-on-mobile">description</div>
            <div class="">grade</div>
            <div class="">creator</div>
            <div class="hidden-on-mobile">created Date</div>
        </div>
        <div class="list-content">
            <ul>
                @for (problem of listOfProblems; track problem.id) {
                        <app-spraywall-legend-item
                            class="li-item"
                            [problem]="problem"
                            [isSelected]="selectedProblem?.id === problem.id"
                            (selected)="onSelectedProblem($event)">
                        </app-spraywall-legend-item>
                }
            </ul>
        </div>
        <!-- <table>
            <tr>
                <th>name</th>
                <th>grade</th>
                <th>description</th>
                <th>creator</th>
                <th>created Date</th>
            </tr>
            @for (problem of listOfProblems; track problem.id) {
                <tr>
                    <app-spraywall-legend-item
                        class="li-item"
                        [problem]="problem"
                        [isSelected]="selectedProblem?.id === problem.id"
                        (selected)="onSelectedProblem($event)">
                    </app-spraywall-legend-item>
                </tr>
            }
        </table> -->
    </div>
  </section>
</div>