<div class="grid">
  <section class="renderContainer">
    @if (currentRawModel) {
        <app-boulder-render
            class="render"
            [rawModel]="currentRawModel"
            [boulderProblem]="selectedProblem">
        </app-boulder-render>
    } @else {
        <app-loading-image
            class="render">
        </app-loading-image>
    }
  </section>
  <section class="legend">
    <div class="actions">
        <button class="button action-button" (click)="onResetSelection()">Reset</button>
        <button class="button action-button action-end" [routerLink]="['/', 'spraywall-editor', spraywallId]">Create new route</button>
    </div>
    <div class="legend-list">

        <div class="list-header">
            <div class="">name</div>
            <div class="hidden-on-mobile">description</div>
            <div aria-hidden="true" (click)="onGradeClicked()" class="filterable">grade</div>
            <div class="">creator</div>
            <div aria-hidden="true" (click)="onDateClicked()" class="hidden-on-mobile filterable">created Date 
                @if (currentFilter.dateOrder) {
                    @if (currentFilter.dateOrder === 'asc') {
                        <app-icon [icon]="'filter-asc'"></app-icon>
                    } @else {
                        <app-icon [icon]="'filter-desc'"></app-icon>
                    }
                }
            </div>
        </div>
        <div #scrollList class="list-content">
            <ul>
                @for (problem of listOfProblems; track problem.id) {
                    <app-spraywall-legend-item
                        class="li-item"
                        [problem]="problem"
                        [isSelected]="selectedProblem?.id === problem.id"
                        (selected)="onSelectedProblem($event)">
                    </app-spraywall-legend-item>
                }
                @if (listOfProblems.length < totalCount) {
                    <app-spraywall-legend-item-placeholder
                        class="li-item">
                    </app-spraywall-legend-item-placeholder>
                }
            </ul>
        </div>
    </div>
  </section>
</div>

<app-modal #fontGradeFilterModal
 [isSmall]="true"></app-modal>