@use '../../../styles/variables' as *;

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 40%;
  grid-template-areas:
  "boulder boulder"
  "legend legend";
}

.renderContainer {
  grid-area: boulder;
  align-items: stretch;
  justify-content: stretch;
}

.render {
  width: 100%;
  height: 100%;
}

.legend {
  grid-area: legend;
  // background-image: linear-gradient(180deg, $black 0%, $dark 20%);
}

.actions {
  height: 2em;
  width: 100%;
  background-color: rgba($light, 0.05);
  white-space: nowrap;
  overflow-x: auto;
}

.legend-list {
  height: calc(100% - 2em);
  width: 100%;
}

.list-header {
  // height: 2em;
  padding: 4px 0px;
  vertical-align: middle;
  border-bottom: 1px solid $lightDark;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: nowrap;
  display: grid;
  grid-template: 'header header header header header header';
  grid-template-columns: 30% 40% 10% 10% 10%;
  width: calc(100% - 15px); // adjust for scrollbar
}

@media (max-width: 600px) {
  .list-header {
    grid-template: 'header header header';
    grid-template-columns: 60% 10% 30%;
  }

  .hidden-on-mobile {
    display: none;
  }
}

.list-content {
  overflow-y: scroll;
  width: 100%;
  height: calc(100% - 2em);
}

.action-button {
  // cursor: pointer;
  display: inline-block;
  height: calc(100% - 6px);
  border: none;
  // background-color: $secondary;
}

.action-end {
  float: right;
}

.action-button:hover, .action-button:focus {
  background-color: rgba($primary, 0.5);
}

.action-button:active {
  background-color: rgba($primary, 1.0);
}

.li-item:nth-child(even) {
  background-color: rgba($light, 0.05);
}