@use '../../../styles/variables' as *;

:host {
  display: block;
}

.item {
  cursor: pointer;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.item.selected {
  background-color: rgba($secondary, 1.0);
}

.item:hover, .item:focus {
  background-color: rgba($primary, 0.5);
}

.item:active {
  background-color: rgba($primary, 1.0);
}