<app-common-overview
  [name]="outdoorArea.name"
  [media]="(outdoorArea.images ?? [])"
  [importantInfo]="outdoorArea.importantInfo ?? undefined"
  [description]="outdoorArea.description ?? undefined">
  @if (outdoorArea.sectors?.length) {
  <section class="sectors" aria-labelledby="sectors-heading">
    <h2 id="sectors-heading">Sectors</h2>
    <div class="sector-list">
      @for (sector of outdoorArea.sectors; track sector.id) { @let backgroundImage = sector.previewImageUri ?
      `url(${sector.previewImageUri})` : `url(/tiles/flowers.png)`;
      <a
        class="sector-tile"
        [class.is-generic-background]="!sector.previewImageUri"
        [style.backgroundImage]="backgroundImage"
        [routerLink]="['/', 'outdoor-area', outdoorArea.id, 'sector', sector.id]">
        <span class="tile-content">
          <span class="sector-name">{{ sector.name }}</span>
        </span>
      </a>
      }
    </div>
  </section>
  }
</app-common-overview>

