/* You can add global styles to this file, and also import other style files */
@use 'styles/variables' as *;

@font-face {
  font-family: "Roboto";
  src: url("./../public/font/Roboto-Regular.ttf") format("truetype");
}

html {
    background-color: $backgroundColor;
    color: $fontColor;
    font-family: "Roboto", sans-serif;
}

a {
  color: $fontColor;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0px;
}
