/* You can add global styles to this file, and also import other style files */
@use 'styles/variables' as *;
@use 'styles/form-styles' as *;

@font-face {
  font-family: "Roboto";
  src: url("./../public/font/Roboto-Regular.ttf") format("truetype");
}

html {
    background-color: $backgroundColor;
    color: $fontColor;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

a {
  color: $fontColor;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0px;
}

.button {
  all: unset;
  cursor: pointer;
  padding: 3px 14px;
  background-color: $lightDark;
  // min-width: 50px;
}

.button:hover, .button:focus {
  background-color: color-mix(in srgb, $dark 50%, $highlight 50%);
}

// todo: fix autofill styles
// input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
//   background-color: $lightDark;
// }

textarea {
  border-top: 1px solid $lightDark;
  border-right: 1px solid $lightDark;
  border-left: 1px solid $lightDark;
}
