<app-common-overview
  [name]="sector.name"
  [media]="sector.images ?? []"
  [importantInfo]="sector.importantInfo ?? undefined"
  [description]="sector.description ?? undefined">
  @if (blocs.length > 0) {
    <section class="sectors" aria-labelledby="sectors-heading">
      <h2 id="sectors-heading">Sectors</h2>
      <div class="sector-list">
        @for (bloc of blocs; track bloc.id) {
          @let backgroundImage = bloc.previewImageUri ? `url(${bloc.previewImageUri})` : `url(/tiles/flowers.png)`;
          <a
            class="sector-tile"
            [class.is-generic-background]="!bloc.previewImageUri"
            [style.backgroundImage]="backgroundImage"
            [routerLink]="
              outdoorAreaId
                ? ['/', 'outdoor-area', outdoorAreaId, 'sector', sector.id, 'bloc', bloc.id]
                : ['/', 'bloc', bloc.id]
            ">
            <span class="tile-content">
              <span class="sector-name">{{ bloc.name }}</span>
              <!-- I could have the name of a famous line here -->
            </span>
          </a>
        }
      </div>
    </section>
  }
</app-common-overview>
