@use '../../../../styles/variables' as *;

:host {
  display: block;
}

.item {
  cursor: pointer;
  width: calc(100% - 12px);
  padding: 4px 6px;
}

.item.selected {
  background-color: rgba($secondary, 1.0);
}

.item:hover, .item:focus {
  background-color: rgba($primary, 0.5);
}

.item:active {
  background-color: rgba($primary, 1.0);
}

.item {
  display: grid;
  grid-template: 'name description fontGrade createdByName createdDate header';
  grid-template-columns: 30% 40% 10% 10% 10%;
  white-space: nowrap;
}

.name {
  grid-area: name;
}

.description {
  grid-area: description;
}

.fontGrade {
  grid-area: fontGrade;
}

.createdByName {
  grid-area: createdByName;
}

.createdDate {
  grid-area: createdDate;
}

.item-cell {
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden-on-mobile {
  color: $secondary;
}

.show-on-mobile {
  display: none;
}

.item.selected>.item-cell {
  text-overflow: unset;
  white-space: normal;
}

.item.selected>.hidden-on-mobile {
  color: $light;
  text-shadow: $dark 1px 1px 5px;
}

.item.selected>.name {
  color: $info;
}

@media (max-width: 600px) {
  .item {
    grid-template: 'name fontGrade createdByName';
    grid-template-columns: 60% 10% 30%;
  }
  
  .item.selected {
    grid-template: 'name fontGrade createdByName'
                   'description additional createdDate';
    grid-template-columns: 60% 10% 30%;
  }

  .hidden-on-mobile {
    display: none;
  }

  .show-on-mobile {
    display: unset;
  }

  .item.selected > .description.hidden-on-mobile {
    display: unset;
  }
}