@use '../../../../styles/variables' as *;

:host {
  display: block;
}

.item {
  cursor: pointer;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.item.selected {
  background-color: rgba($secondary, 1.0);
}

.item:hover, .item:focus {
  background-color: rgba($primary, 0.5);
}

.item:active {
  background-color: rgba($primary, 1.0);
}

.item {
  // height: 2em;
  // vertical-align: middle;
  // border-bottom: 1px solid $lightDark;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.item>span {
  flex-shrink: 1;
  // flex: 1 1 auto;
}

.flex-name {
  flex-shrink: 4;
  flex-grow: 4;
}

.flex-grade {
  flex-grow: 1;
}

.flex-description {
  // width: min-content;
  flex-shrink: 4;
  flex-grow: 4;
}

.flex-creator {
  flex-grow: 1;
}

.flex-created-date {
  flex-grow: 1;
}