@use '../../../../styles/variables' as *;

:host {
  display: block;
}

.item {
  cursor: pointer;
  width: calc(100% - 12px);
  padding: 4px 6px;
}

.item.selected {
  background-color: rgba($secondary, 1.0);
}

.item:hover, .item:focus {
  background-color: rgba($primary, 0.5);
}

.item:active {
  background-color: rgba($primary, 1.0);
}

.item {
  display: grid;
  grid-template: 'header header header header header header';
  grid-template-columns: 30% 40% 10% 10% 10%;
  white-space: nowrap;
}

.item-cell {
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden-on-mobile {
  color: $gray;
}

@media (max-width: 600px) {
  .item {
    grid-template: 'header header header';
    grid-template-columns: 60% 10% 30%;
  }

  .hidden-on-mobile {
    display: none;
  }
}