@use '../../styles/variables' as *;

:host {
  display: block;
}

.tile-container {
  display: flex;
  align-content: center;
  height: 80vh;
  gap: 10px;
  padding: 10px;
}

.big-tile {
  height: 200px;
  width: 400px;
  background-color: $primary;
  background-image: linear-gradient(rgba($primary, 1.0) 20%, rgba($primary, 0.0) 40%), url('/test-images/spraywall.webp');
  background-size: cover;
  background-position: center;
  color: $fontColor;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border: 2px solid $primary;
  border-radius: 5px;
  cursor: pointer;
}

.tile-content {
  padding: 5px;
}