<h1>Spraywalls</h1>
<section>
  <div class="tile-container">
    @for (spraywall of this.spraywalls(); track spraywall.id) {
      @let backgroundImage = spraywall.previewImageUri ? `url(${spraywall.previewImageUri})` : `url(/tiles/bricks.png)`;
      <div
        class="big-tile"
        [ngClass]="{
          'is-generic-background': (spraywall.previewImageUri?.length ?? 0) === 0
        }"
        [style.backgroundImage]="backgroundImage"
        [routerLink]="['/', 'spraywall', spraywall.id]">
        <div class="tile-content">
          <h2>{{ spraywall.name }}</h2>
        </div>
      </div>
    }
  </div>
</section>
<h1>Outdoor</h1>
<section>
  <div class="tile-container">
    @for (outdoorArea of this.outdoorAreas(); track outdoorArea.id) {
      @let backgroundImage =
        outdoorArea.previewImageUri ? `url(${outdoorArea.previewImageUri})` : `url(/tiles/flowers.png)`;
      <div
        class="big-tile"
        [ngClass]="{
          'is-generic-background': (outdoorArea.previewImageUri?.length ?? 0) === 0
        }"
        [style.backgroundImage]="backgroundImage"
        [routerLink]="['/', 'outdoor-area', outdoorArea.id]">
        <div class="tile-content">
          <h2>{{ outdoorArea.name }}</h2>
        </div>
      </div>
    }
  </div>
</section>

<app-feedback-overlay></app-feedback-overlay>
