@use '../../styles/variables' as *;

:host {
  display: block;
}

h1 {
  text-align: center;
  height: 35px;
  margin: 0;
  color: $warning;
  padding: 20px 0px;
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: flex-start;
  height: calc(40vh - 35px);
  gap: 10px;
  padding: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.big-tile {
  height: 200px;
  width: 400px;
  background-color: $darkDark;
  background-size: 56px 56px;
  background-repeat: repeat;
  background-image: url('/tiles/pattern_007.png');
  background-blend-mode: multiply;
  // background-blend-mode: screen;
  border: 1px solid $primary;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .big-tile {
    width: 100%;
  }
}

.tile-content {
  padding: 25px 25px 0px 25px;
  background-image: linear-gradient(rgba($primary, 1.0) 50%, rgba($primary, 0.0) 90%);
  padding-bottom: 25px;
  margin-bottom: 0px;
  color: $fontColor;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.tile-content h2 {
  margin-top: 2px;
}