@use '../../styles/variables' as *;

:host {
  display: block;
}

h1 {
  text-align: center;
  height: 35px;
  margin: 0;
  color: $warning;
  padding: 20px 0px;
}

.tile-container {
  display: flex;
  align-content: center;
  height: calc(80vh - 35px);
  gap: 10px;
  padding: 10px;
}

.big-tile {
  height: 200px;
  width: 400px;
  background-color: $primary;
  background-image: linear-gradient(rgba($primary, 1.0) 20%, rgba($primary, 0.0) 40%), url('/test-images/spraywall.webp');
  background-size: cover;
  background-position: center;
  color: $fontColor;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border: 1px solid $primary;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .big-tile {
    width: 100%;
  }
}

.tile-content {
  padding: 5px;
}

.tile-content h2 {
  margin-top: 2px;
}